openapi: 3.0.0
info:
  title: "TrailService API"
  version: "1.0"
  description: "CRUD for Trails"
servers:
  - url: "/api"
components:
  schemas:
    Trail:
      type: "object"
      required:
        - name
      properties:
        name:
          type: "string"
        description:
          type: "string"
        difficulty:
          type: "string"
        length:
          type: "number"
        estimated_time:
          type: "string"
        features:
          type: "string"
        created_date:
          type: "string"
    Location:
      type: "object"
      required:
        - latitude
        - longitude
        - sequence_order
      properties:
        latitude:
          type: "number"
        longitude:
          type: "number"
        sequence_order:
          type: "integer"
paths:
  /trails:
    get:
      summary: "Get all trails "
      operationId: "trails.read_all"
      responses:
        "200":
          description: "List of trails"
    post:
      summary: "Create a new trail"
      operationId: "trails.create"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Trail"
      responses:
        "201":
          description: "Trail created successfully"
        "400":
          description: "Invalid input"
  /trails/{name}:
    get: 
      summary: "Get trail by name"
      operationId: "trails.read_one"
      parameters:
        - name: "name"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Trail details"
        "404":
          description: "Trail not found"

    put:
      summary: "Update an existing trail"
      operationId: "trails.update"
      parameters:
        - name: "name"
          in: "path"
          required: true
          schema:
            type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Trail"
      responses:
        "200":
          description: "Trail updated successfully"
        "400":
          description: "Invalid input"
        "404":
          description: "Trail not found"
    delete:
      summary: "Delete a trail by name"
      operationId: "trails.delete"
      parameters:
        - name: "name"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "204":
          description: "Trail deleted successfully"
        "404":
          description: "Trail not found"